
<div>
    <h1>HOME</h1>
    <div style="width:800px; height:700px">
        <button id="btn">click me!</button>
    </div>
</div>

<script>

    $('#btn').addEventListener('click', function (e) {
        DD.popup('test', e.x, e.y);
    });

</script>