<div>
    <div class="form_field">
        <span>username</span>
        <input type="text" id="username"/>
    </div>
    <div class="form_field">
        <span>password</span>
        <input type="password" id="password"/>
    </div>
    <button id="login">login</button>
    <p>
        <a onclick="DD.showPage('register')">register</a>
    </p>
</div>

<script>

    function login(){
        DD.hidePages();
        DD.login(
            $('#username').value,
            $('#password').value,
            function () {
                DD.showPage('home');
            },
            function () {
                DD.showPage('login');
            }
        );
    }

    $('#login').addEventListener('click', login);
    $('.page')[0].addEventListener('keyup', function (e) {
        if(e.key === "Enter"){
            login();
        }
    });


</script>