<div>
    <div class="form_field">
        <span>username</span>
        <input type="text" id="username"/>
    </div>
    <div class="form_field">
        <span>password</span>
        <input type="password" id="password"/>
    </div>
    <div class="form_field">
        <span>repeat</span>
        <input type="password" id="repeat"/>
    </div>
    <button id="register">register</button>
    <p>
        <a onclick="DD.showPage('login')">login</a>
    </p>
</div>

<script>

    // at least one lowercase letter, uppercase letter and number.
    var passRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\W]{8,}$/;

    // between 4 and 32 characters containing only letters, numbers, - and _
    var userRegex = /^[a-zA-Z0-9_-]{4,32}$/;



    function register(){
        let username = $('#username').value;
        let password = $('#password').value;
        let repeat = $('#repeat').value;

        let error = [];

        if(!userRegex.test(username)){
            error.push("Username does not meet standards <br>( 4 - 32 letters, numbers, - or _ )")
        }
        if(password !== repeat) {
            error.push("passwords do not match!");
        }
        if(!passRegex.test(password)){
            error.push("Password does not meet standards <br>( one lowercase letter, uppercase letter and number )");
        }
        if(error.length === 0) {
            DD.register(
                username,
                password,
                function () {
                    DD.login(
                        username,
                        password,
                        function () {
                            DD.showPage('home');
                        },
                        function () {
                            DD.showPage('register');
                        }
                    );
                },
                function () {
                    DD.showPage('register');
                }
            );
        } else {
            for(let i = 0 ; i < error.length; i++){
                DD.warning(error[i]);
            }
        }
    }

    $('.page')[0].addEventListener('keyup', function (e) {
        if(e.key === "Enter"){
            register();
        }
    });
    $('#register').addEventListener('click', register);

</script>