* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

body{
    background: #24292e;
    color: #33a9be;
    font-family: Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

a{
    cursor: pointer;
}

.page{
    overflow: hidden;
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-top: 1px solid #2b8497;
    border-bottom: 1px solid #2b8497;
    float:left;
}

.hide{
    animation-name: hidePage;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    display: inline-block !important;
}

.show{
    animation-name: showPage;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    display: inline-block !important;
}

.page > div{
    padding: 20px;
}

.form_field{
    margin-bottom: 8px;
}

.form_field > span{
    display: block;
    margin: 0 0 2px 3px;
}

.form_field > input,
.form_field > textarea,
.form_field > select{
    border: 1px solid #777;
    border-radius: 3px;
    background: #44494e;
    padding: 4px;
    color: #FFF;
    outline: none;
}

#loading{
    display: inline-block;
    width: 150px;
    height: 2px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading div{
    background: #2b8497;
    height: 100%;
    border-radius: 3px;
    animation-duration: 0.3s;
    animation-name: loading;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#profile{
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

#notifications{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    z-index: 1000;
}

#notifications div{
    padding: 10px;
    font-size: 16px;
    color: #24292e;
    margin: 10px 0 0 10px;
    font-weight: 700;
    border-radius: 3px;
    position: relative;
    left: 0;
    animation-name: removeNotification;
    animation-duration: 0.7s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.modal > div{
    display: inline-block;
    position: relative;
    transform: translate(-50%, -50%);
    min-width: 250px;
    min-height: 150px;
    background: #44494e;
    border-top: 1px solid #2b8497;
    border-bottom: 1px solid #2b8497;
    box-shadow: 3px 3px 10px #14191e;
    animation-name: move_popup;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    overflow: hidden;
    padding: 10px;
}

.error{
    background: #97383a;
}

.warn{
    background: #97793f;
}

.notify{
    background: #2b8497;
}

button{
    margin-top: 8px;
    width: 100%;
    max-width: 200px;
    padding: 4px;
    background: #2b8497;
    border: 1px solid #777;
    border-radius: 4px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #24292e;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    text-transform: capitalize;
}

@keyframes move_popup {
    0%{
        transform: translate(-50%, -50%) scale(0, 0);
    }

    100%{
        transform: translate(-50%, -50%) scale(1, 1);
        left: 50%;
        top: 50%;
    }
}

@keyframes removeNotification {
    0%{
        left: 0;
        display: block;
        max-height: 100px;
        margin-top: 10px;
        padding: 10px;
    }

    50%{
        left: -110%;
        display: block;
        max-height: 100px;
        margin-top: 10px;
        padding: 10px;
    }

    100%{
        left: -110%;
        max-height: 0;
        display: none;
        margin-top: 0;
        padding: 0;
    }
}

@keyframes hidePage {
    0% {
        max-height: 100%;
        max-width: 100%;
    }

    40% {
        max-height: 0;
        max-width: 100%;
    }

    100%{
        display: none !important;
        max-height: 0;
        max-width: 0;
    }
}

@keyframes showPage {
    0% {
        display: inline-block;
        max-height: 0;
        max-width: 150px;
    }

    60% {
        max-height: 0;
        max-width: 100%;
    }

    100%{
        max-height: 100%;
        max-width: 100%;
    }
}

@keyframes loading {
    0%{
        margin-left: 0;
        width: 5%;
    }

    50%{
        margin-left: 0;
        width: 100%;
    }

    100%{
        margin-left: 95%;
        width: 5%;
    }
}